Package: com.voyager.gameoverlaymenu
Name: VoyagerMenu
Depends: mobilesubstrate
Version: 2.0.0
Architecture: iphoneos-arm
Description: Smart game overlay menu
Maintainer: VoyagerPlayYT
Author: VoyagerPlayYT
Section: Tweaks
